/* .codes-wrapper {
  height: 100vh;
  background-color: #FFF;
} */

.testing-section-wrapper {
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
} 

.testing-section {
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 2em 0em 0;
}

.code-section {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.code {
    font-family: 'Press Start 2P', cursive;
    margin: 0 0 50px;
    font-size: 3em;
}

.code.one {
  margin-right: .5em;
}

  .random-color {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2em;
    padding-bottom: 2em;
  }

  .color-button {
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #000;
    text-align: center;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid rgb(212, 211, 211);
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(212, 211, 211);
  }

  .color-button:active {
    box-shadow: none;
	  position: relative;
	  top: .2em;
  }

  .color-button:hover {
    color: #000;
    background: rgb(242, 242, 242);
  }

  .color-button-disabled {
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #000;
    text-align: center;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid rgb(212, 211, 211);
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(212, 211, 211);
  }

  .color-button-disabled-clicked {
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: rgb(159, 158, 158)aec;
    text-align: center;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid rgb(212, 211, 211);
    background-color: #e5eaec;
    box-shadow: 0 4px 2px -2px rgb(212, 211, 211);
  }

  .question {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 31px;
    margin: 0 0 50px;
  }

  .top-div {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px 0;
  }

  .streaks-div {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    margin: 0px 50px 0;
    font-weight: 700;
    font-size: 25px;
  }

  .faFire {
    color: rgb(252, 55, 6);
    margin: 5px 10px 5px;
  }

  .exit-button-assessment {
    margin: 0px 50px 0;
    border: none;
    background: none;
    font-size: 25px;
    color: rgb(154, 153, 153);
  }

  .exit-button-assessment:hover {
    transform: scale(1.5);
    transition: transform .5s;
  }

  /* -------- MEDIA QUERIES -------- */


@media screen and (max-width: 60em) {
  .testing-section {
    margin: 1em 4em 0;
  }
}

@media screen and (max-width: 40em) {
  .testing-section {
    margin: .5em 2em 0;
  }
  .random-color {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
  }
  .question {
    margin: 0;
  }
  .code-section {
    padding: 2em;
  }
  .code {
    justify-content: center;
    margin: 0;
  }
  .top-div {
    margin: 0;
  }
}

@media screen and (max-width: 35em) {
  .testing-section-wrapper {
    overflow: hidden;
  }
  .testing-section {
    margin: .5em;
    overflow: hidden;
  }
  .random-color {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5em;
  }
  .question {
    margin: 0;
    font-size: 1.5em;
  }
  .code-section {
    padding: 2em;
  }
  .code {
    justify-content: center;
    margin: 0;
  }
  .code.one {
    margin-right: .5em;
  }
  .top-div {
    margin: 0;
    height: 10vh;
  }
  .streaks-div {
    margin: 0 1em 0;
  }
  .exit-button-assessment {
    margin: 0 1em 0;
  }
}