.home-page {
    display: flex;
    height: 100vh;
    padding: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-left {
    width: 50%;
}

.home-right {
    margin: auto 48px;
    width: 60%;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #FFF;
}

.home-text {
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 50px;
}

.box-home {
    width: 75%;
    animation: updown 2s ease infinite;
}

@keyframes updown {
    0% {
      transform: translateY(-1%);
    }
  
    50% {
      transform: translateY(1%);
    }
  
    100% {
      transform: translateY(-1%);
    }
  }
  

.get-started-button {
    text-align: center;
    display: inline-block;
    background-color: #5cc70d;
    border-color: transparent;
    min-width: 300px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
    height: 50px;
    box-shadow: 0 .2em gray; 
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 18px;
}

.get-started-button:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}