#portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .container .modal {
    z-index: 1;
    width: 75%;
    height: 50%;
    background: #FFF;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
  }

  .exit-modal-question {
    display: flex;
    align-items: center;
  }

  .exit-modal-stay,
  .exit-modal-go {
    text-align: center;
    justify-content: right;
    display: inline-block;
    min-width: 200px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	  -moz-border-radius: 11px;
	  -o-border-radius: 11px;
    height: 50px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    color: #FFF;
    margin: 0 20px 0;
  }

  .exit-modal-go {
    background-color: #e31d20;
    box-shadow: 0 5px 2px -2px #c02020;
  }

  .exit-modal-go:hover {
    background-color: #f75252;
  }

  .exit-modal-stay:hover {
    background-color: #5ecd0f;
  }

  .exit-modal-stay  {
    background-color: #50af0c;
    box-shadow: 0 5px 2px -2px #447d18;
  }

  .modal .exit-button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .container-correct,
  .container-incorrect {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: fadeIn .7s, slideIn .8s linear;
  }

  .container-correct {
    background: #cbf5ab;
  }

  .container-incorrect {
    background: #eec0c1;
  }

  .modal-correct,
  .modal-incorrect {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .correct-left,
  .incorrect-left {
    width: 50%;
    display: flex;
    margin: 0 50px 0;
    align-items: center;
  }

  .correct-right,
  .incorrect-right {
    display: flex;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: right;
    margin: 0 50px 0;
  }

  .correct-text-div,
  .incorrect-text-div {
    display: flex;
    flex-direction: column;
  }

  .correct-text {
    display: flex;
    margin: 5px 10px 5px;
    align-items: left;
    color: #66b02d;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 2em;
  }

  .incorrect-text,
  .incorrect-color {
    display: flex;
    flex-direction: column;
    margin: 0 0 0;
    align-items: left;
    color: #e31d20;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
  }

  .incorrect-text {
    font-size: 1.5em;
  }
  .incorrect-color {
    font-size: 2em;
  }

  .faCircleCheck {
    font-size: 5em;
    width: 25%;
    color: #60a72a;
  }

  .faCircleXmark {
    font-size: 5em;
    width: 25%;
    color: #c02020;
  }

  .next-button-incorrect {
    background-color: #ee3c3c;
    text-align: center;
    justify-content: right;
    display: inline-block;
    min-width: 200px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	  -moz-border-radius: 11px;
	  -o-border-radius: 11px;
    height: 50px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 5px 2px -2px #c02020;
    border: none;
    color: #FFF;
    margin: 0 50px 0;
  }

  .next-button-correct{
    background-color: #60a72a;
    text-align: center;
    justify-content: right;
    display: inline-block;
    min-width: 200px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
	  -moz-border-radius: 11px;
	  -o-border-radius: 11px;
    height: 50px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 5px 2px -2px #447d18;
    border: none;
    color: #FFF;
    margin: 0 50px 0;
  }

  .next-button-incorrect:hover {
    background-color: #f75252;
  }

  .next-button-correct:hover {
    background-color: #6fce27;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(400px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(-10px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateY(5px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
    }
  }
  
/* -------- MEDIA QUERIES -------- */


@media screen and (max-width: 35em) {
  .correct-right,
  .incorrect-right {
    justify-content: center;
    margin: 0 1em 0;
    width: 60%;
  }
  .correct-left {
    margin: 0 1em 0;
    width: 30%;
  }
  .incorrect-left {
    margin: 0 1em 0;
  }
  .next-button-correct,
  .next-button-incorrect {
    min-width: 100%;
    margin: 0 0 0;
  }
  .exit-button-assessment {
    margin: 0;
    padding: 0;
  }
  .incorrect-text,
  .correct-text {
    display: none;
  }
  .faCircleXmark {
    width: 30%;
  }
  .faCircleCheck {
    width: 100%;
  }
  .incorrect-color {
    font-size: 1.2em;
  }
  .exit-modal-question {
    font-size: 1.2em;
    text-align: center;
  }
  .exit-modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }
}