#portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .container .modal {
    z-index: 1;
    width: 350px;
    height: 220px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
  }

  .modal .exit-button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }


  .container-correct .modal-correct {
    z-index: 1;
    width: 100vw;
    height: 25vh;
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: animate-correct 0.3s;
  }

  .container-incorrect .modal-incorrect {
    z-index: 1;
    width: 100vw;
    height: 25vh;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: animate-correct 0.3s;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes animate-correct {
    from {
        bottom: -300px;
        opacity: 0;
        transform: 1s;
      }
    
      to {
        bottom: 0;
        opacity: 1;
        transform: 1s;
      }
  }

  @keyframes animate-incorrect {
    from {
        bottom: -300px;
        opacity: 0;
        transform: 1s;
      }
    
      to {
        bottom: 0;
        opacity: 1;
        transform: 1s;
      }
  }